<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    <meta charset='utf-8'>
    <title>
       {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

<div class=='container-fluid'>
{% include 'header.html'}
<div class='panel panel-default'>
     <div class='panel-heading'>
          {% block headmessage %}{% endblock %}
     </div>
     <div class='panel-body'>
          {% block content %}{% endblock %}
     </div>
     <div class='panel-footer'>
          {% include 'footer.html'%}
     </div>    
</div>
</div>
</body>
</html>
