<!--index.html-->
{% extends 'base.html'%}
{% block title %} welcome to my blog {% endblock %}
{% block headmessage %}
     <h3 style='font-size:20pt'>The list of page </a>
{% endblock %}
{% block content %}
     {% for post in posts %}
        <p style='font-size:14pt;font-weight:bold;'>
        <a href='/post/{{post.slug}}'>{{post.title}} </a>
        </p>
        {%endfor%}
    {% endblock %} 
