<!--post.html-->
{% extends 'base.html' %}
{% block title %}{{post.title}} -poeter{%endblock%}
{% block headmessage %}
     <h3 style='font-size:20pt;'>{{post.title}}</h3>
     <a href='/'>back to begin</a>
{% endblock %}
{% block content %}
         <p style='font-size:12pt;letter-spacing:2pt;'>
            {{post.body}}</a>
         </p>
{% endblock %}

